@font-face {
    font-family: 'Pacaembu';
    src: url('assets/font/Pacaembu-Regular.woff2') format('woff2'),
         url('assets/font/Pacaembu-Regular.woff') format('woff'),
         url('assets/font/Pacaembu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pacaembu';
    src: url('assets/font/Pacaembu-Black.woff2') format('woff2'),
         url('assets/font/Pacaembu-Black.woff') format('woff'),
         url('assets/font/Pacaembu-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Base resets & utilities */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
